@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideDown {
  0% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.header {
  background-color: #002539;
}

.bg-primary {
  background-color: #002539;
  transition: 0.5s;
}

.bg-primary:hover {
  background-color: #00334e;
  transition: 0.5s;
}

.sidebar-link:hover {
  background-color: #E42542;
  transition: 0.5s;
}

.bg-secondary {
  background-color: #E42542;
  transition: 0.5s;
}

.bg-secondary-dark {
  background-color: #ad1c32;
  transition: 0.5s;
}

.bg-secondary:hover {
  background-color: #ad1c32;
  transition: 0.5s;
}

.color-secondary {
  color: #E42542;
  transition: 0.5s;
}

.color-secondary:hover {
  color: #ad1c32;
  transition: 0.5s;
}